/*all buttons have same width, pos, etc. only difference is color */
button:hover {
    background-color: #f5dfdf;
}
a: hover {
     background-color: #f5dfdf;
}
#logoDiv {
    position: absolute;
    top:0;
    right:0;
}

#logoDiv img{
	width:125px;
	height:100px;
}

#autoPostStatus {
    margin-top: 3%;
    margin-left: 4%;
    background-color: #3b5998;
    border: none;
    color: white; /*fb blue color */
    text-align: center;
    padding: 12px 28px;
    font-size: 16px;
}

#twitterButton {
	margin-top: -7%;
	margin-left:55%;
}

#chart {
    width: 70%;
    height: 650px;
    top: 25%;
    background-color: #927FB8;
    margin-left: 4%;
}

h2 {
    color: #cc33ff;
    margin-left: 3%;
    font-size: 50px;
}

body {
    height: 100%;
    width: 100%;
    background-image: url("sky2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-size: cover;
    background-position: top left;
}

footer {
	float:right;
	background-color:#927FB8;
	text-align:center;
	right:0;
	width:40%;
	font-size:1.5em;
	margin-top:1%;
	color: black;
}

footer a {
	color: #f5dfdf;
}
