/*all buttons have same width, pos, etc. only difference is color */
 #button0, #button1, #button2, #button3, #button4 {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    height: 60px;
    line-height: 50px; /*Must be the same as height to vertically align to the middle*/
    position: relative;
}

button:hover {
    background-color: #f5dfdf;
}
/*a: hover {
     background-color: #f5dfdf;
}*/
#logoDiv {
    position: relative;
    width: 100%;
    background-size: cover;
}
#logoDiv img {
    width: 125px;
    height: 100px;
    left: 15%;
    top:95%;
    position: absolute;
    margin-top: 10%;
}

/*button colors same as from quiz.js, c3.js colors */
#button0 {
    background-color: #cc6699;
    margin-left: 13%;
}
#button1 {
    background-color: #0099cc;
}
#button2 {
    background-color: #ffcc99;
}
#button3 {
    background-color: #33cccc;
}
#button4 {
    background-color: #0000ff;
}

#buttonDiv {
    margin-left: 30%;
/*    background-color: #b4b4f0;*/
    width: 22%;
    padding: 1%;
}

#autoPostStatus {
    margin-top: 3%;
    margin-left: 4%;
    background-color: #3b5998;
    border: none;
    color: white; /*fb blue color */
    text-align: center;
    padding: 12px 28px;
    font-size: 16px;
}

#twitterButton {
    margin-left: 4%;
    margin-top: 1.5%;
    padding-left: 2%;
}

#chart {
    width: 70%;
    height: 650px;
    top: 25%;
    background-color: #927FB8;
    margin-left: 4%;
}

h2 {
    color: #cc33ff;
    margin-left: 3%;
    font-size: 50px;
}

body {
    height: 100%;
    width: 100%;
    background-image: url("sky2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-size: cover;
    background-position: top left;
}